// Reset minimo y estilos base.
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  color: var(--color-text);
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
